body{
  background-color: #cfc89a
}
header{
  background-color: white;
  display: flex;
}
nav li{
  display: inline-flex;
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
  margin-right: 50px;
}
h1{
  text-align: center;
  border: dashed;
  color: #a14016;
  font-size: 40px;
}
h3{
  text-align: center;
  color: #cc883a;
  font-size: 30px;
}
p{
  text-align: justify; color: #322938;
  font-size: 20px;
}
em{
  color: #a14016
}
strong{
  color:#cc5b14
}
li{
  color: #322938;
  font-size: 20px;
}
.dialogoNascimento{
  margin-left: 3%;
}
.texto{
}
#Logo{
  width: 15%;
  display: inline-block;
}
#ilha{
  margin-left: 23%;
  width: 50%;
  border: 30px groove; color: #89a194
}
#Gerome1{
  margin-left: 41%;
  width: 12%;
  border:20px double; border-radius: 115px 115px; color: #4c1130;
}
#Navio{
  width: 30%;
  margin-left: 470px;
  text-align: center;
}
